<div
	class="w-full max-w-3xl mx-auto my-8 p-3 sm:p-8 border rounded-2xl bg-white shadow-xl text-center flex flex-col max-h-screen md:max-h-[90vh] overflow-hidden"
>
	<p class="text-2xl font-bold text-purple-600 mb-4">GitHub Profile</p>

	<!-- User profile picture -->
	<app-avatar [user]="user()" />

	<!-- User name & bio -->
	<app-name-bio [user]="user()" />

	<!-- Extra data -->
	<app-extra-data [user]="user()" />

	<!-- Input and search button -->
	<app-search [userName]="userName()" (inputEvent)="onEvent($event)" />

	<!-- Repositories toggle button -->
	@if (!userService.readError()) {
	<div class="mt-6">
		<button
			(click)="toggleRepos()"
			class="text-sm text-purple-600 hover:underline cursor-pointer focus:outline-none"
		>
			{{ showRepos() ? "Hide" : "Show" }} Repositories
		</button>
	</div>
	}

	<!-- Repositories if showRepo is true and repo array is > 0 -->
	@if (showRepos() && repos()?.length) {
	<div class="flex-1 min-h-0 overflow-auto mt-4">
		<app-repositories [repos]="repos()" />
	</div>
	}
</div>
